last 3 Chrome major versions
last 2 Firefox major versions
last 2 Safari major versions
Firefox ESR
last 2 Edge major versions
last 2 Samsung major version
last 2 iOS major version
last 2 Android major version
