{
  "root": true,
  "extends": ["godaddy-react"],
  "rules": {
    "template-curly-spacing": "off",
    "indent": "off",
    "accessor-pairs": "off",
    "react/jsx-pascal-case": "off",
    "no-nested-ternary": "off"
  }
}